pandas as pd
sqlite3
numpy as np
matplotlib.pyplot as plt
from datetime import datetime, date, timedelta
io
xlsxwriter
docx import Document
docx.shared import Inches
docx.enum.text import WD_ALIGN_PARAGRAPH
